@namespace Questionnaire
@using Questionnaire.Services
@inject RefreshService refresh

@if(Question == null)
{
    <p>Loading...</p>
}
else
{
    <h3>@(Question.Text)?</h3>
    <MatRadioGroup @bind-Value="@Question.ChosenAnswer" @bind-Value:event="@Test" Items="@Question.Answers">
        <ItemTemplate>
            <div>
                <MatRadioButton Value="@context">@context.Text</MatRadioButton>
            </div>
        </ItemTemplate>
    </MatRadioGroup>
}
