@namespace Questionnaire
@using Questionnaire.Services
@inject RefreshService refresh

@if(Question == null)
{
    <p>Loading...</p>
}
else
{
<div class="questQuest">
    <p>@(Question.Text)?</p>
</div>
<div class="questMain">
    <MatRadioGroup @bind-Value="@Question.ChosenAnswer" @bind-Value:event="@Test" Items="@Question.Answers">
        <ItemTemplate>
            <div>
                <MatRadioButton Value="@context">@context.Text</MatRadioButton>
            </div>
        </ItemTemplate>
    </MatRadioGroup>
</div>
}
